
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>audioPlayer Demo</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/js/audioPlayer.js"></script>

</head>
<body>
<div id="audioWrapper"></div>
<div style="position:relative;width:267px;height:0px;overflow:hidden;">
  <div id="player" style="position:absolute;top:-276px;left:-5px">

  </div>
</div>
<script src="http://www.youtube.com/player_api"></script>

<script>
var url = "Lcyy-6o3PwA"
     function onYouTubePlayerAPIReady() {

            var player;
            console.log(url);

                player = new YT.Player('player', {
                  height: '390',
                  width: '640',
                  videoId: url,
                  events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                  }
                });

            // autoplay video
            function onPlayerReady(event) {
                event.target.playVideo();
            }
            // when video ends
                function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.ENDED){
                    $.getJSON("http://localhost:8002/top_40", function(data) {
                        console.log(data.url);
                        $("iframe").attr("src","https://www.youtube.com/watch?v=ey22gpY7KUE");
                        //$("iframe").attr("src","http://youtube.com/watch?v=" + data.url);

                  });
                  }
                 }
    }



</script>
</body>
</html>